<div class="reminderscontainer">
   <div class="patient-due-dates-div">

      <h1>Upcoming Reminders</h1>
      <table id="patient-due-dates-table">
	 <thead>
	    <th>Name</th>
	    <th>Vaccine</th>
	    <th>Dose Number</th>
	    <th>Scheduled Date</th>
	 </thead>

	 <% @patient_vaccines.each do |pv| %>
	    <tr>
	       <td><%= pv[:first_name] %> <%= pv[:last_name] %></td>
	       <td><%= pv[:vaccine_name] %></td>
	       <td><%= pv[:dose_number] + 1 %></td>
	       <td><%= pv[:next_dose_on].strftime("%d %b %y") %></td>
	    </tr>
	 <% end %>
      </table>
   </div>
</div>
