<section class="container">
<div class="login">
   <h1>Forgot your password?</h1>

   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <p>
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %></p>

      <p class="signup-submit"><%= f.submit "Send me reset password instructions" %></p>
   <% end %>
</div>

<div class="login-help">
   <%= render "devise/shared/links" %>
</div>
</section>
