<div class="patient-create">
   <h1></h1>
   <%= form_for(@patient) do |f| %>

      <% if @patient.errors.any? %>
	 <div id="error_explanation">
	    <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

	    <ul>
	       <% @patient.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
	       <% end %>
	    </ul>
	 </div>
      <% end %>

      <table id="patient-create-table">
	 <tr>
	    <td><p>
	       <%= f.text_field :first_name, :placeholder => "First Name" %></p></td>

	    <td><p>
	       <%= f.text_field :last_name, :placeholder => "Last Name" %></p></td>
	 </tr>
	 <tr>
	    <td><p>
	       <%= f.text_field :rcn, :placeholder => "RCN" %></p></td>

	    <td><p>
	       <%= f.text_field :fathers_name, :placeholder => "Fathers Name" %></p></td>
	 </tr>
	 <tr>
	    <td><p>
	       <%= f.text_field :email, :placeholder => "Email (optional)" %></p></td>

	    <td><p>
	       <%= f.text_field :phone_number, :placeholder => "Phone Number" %></p></td>
	 </tr>
	 <tr>
	    <td><p><%= f.label :dob %></p></td>
	    <td><p><%= f.date_field :dob %></p></td>
	 </tr>
	 <tr>
	    <td><p><%= f.label :address %></p></td>
	    <td><p><%= f.text_area :address %></p>
	 </tr>
	 <tr>
	    <td></td>
	    <td>
	       <p class="submit"><%= f.submit "Add Patient", :class => "splButton-primary" %></p>
	    </td>
	 </tr>
      </table>

   <% end %>
</div>
