<div class="patient-create">
   <h1></h1>
   <%= form_for(@patient) do |f| %>

      <% if @patient.errors.any? %>
	 <div id="error_explanation">
	    <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

	    <ul>
	       <% @patient.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
	       <% end %>
	    </ul>
	 </div>
      <% end %>

      <p>
      <%= f.text_field :first_name, :placeholder => "First Name" %></p>

      <p>
      <%= f.text_field :last_name, :placeholder => "Last Name" %></p>

      <p>
      <%= f.text_field :rcn, :placeholder => "RCN" %></p>

      <p>
      <%= f.text_field :email, :placeholder => "Email" %></p>

      <p>
      <%= f.text_field :phone_number, :placeholder => "Phone Number" %></p>

      <p><%= f.label :dob %><br/>
      <%= f.date_field :dob %></p>

      <p><%= f.label :address %><br/>
      <%= f.text_area :address %></p>

      <p class="submit"><%= f.submit "Add Patient", :class => "splButton-primary" %></p>
   <% end %>
</div>
