<div id="patient-vaccines-container" class="patients-container">
   <br/>
   <h2><%= @patient.first_name %> <%= @patient.last_name %></h2>
   <h3><%= @patient.address %></h3>

   <table id="patient-vaccines-table">
      <thead>
	 <tr>
	    <th>Vaccine</th>
	    <% for doseNum in (1..@maxDoses) %>
	       <th>Dose <%= doseNum %></th>
	    <% end %>
	 </tr>
      </thead>

      <tbody>
	 <% @vaccines.each do |vaccine| %>
	    <tr id="vaccine-<%= vaccine.id  %>">
	       <td><%= vaccine.name %></td>
	       <% for doseNum in (1..@maxDoses) %>
		  <% if vaccine.no_of_doses >= doseNum %>
		     <% if @vaccinesMap[vaccine.id] and @vaccinesMap[vaccine.id][doseNum] %>
			<td>
			   <span class="dose-editable-span" id="vaccine<%= vaccine.id %>dose-<%= doseNum %>"><%= @vaccinesMap[vaccine.id][doseNum] %></span> 
			   <input type="date" class="dose-editable" id="inputvaccine<%= vaccine.id %>dose-<%= doseNum %>" style="display:none"  > 
			</td>
		     <% else %>
			<td>
			   <span class="dose-editable-span newdose" id="vaccine<%= vaccine.id %>dose-<%= doseNum %>">edit</span>
			   <input type="date"  class="dose-editable newdose" id="inputvaccine<%= vaccine.id %>dose-<%= doseNum %>" style="display:none">
			</td>
		     <% end %>
		  <% else %>
		     <td class="nadose"></td>
		  <% end %>
	       <% end %>
	    </tr>
	 <% end %>
      </tbody>
   </table>
   <br/>

   <%= link_to 'Edit', edit_patient_path(@patient) %> |
   <%= link_to 'Back', patients_path %>
</div>

<script type="text/javascript">
   $(document).ready( function() {
	 $.ajaxSetup({
	      headers: {
	          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
	      }
	 });

	 $('.dose-editable-span').click(function(){
	    $(this).css('display', 'none');
	    var inputId =  "input" + this.getAttribute('id') ;
	    $("#" + inputId).val( $("#" + this.getAttribute('id')).text() ).css('display', '').focus() ;
	    });

	 var oTable = $('#patient-vaccines-table').dataTable();
	 $('.dose-editable').focusout(function(){
	      $.ajax({
                   url: '/patients/vaccinate',
                   type: 'POST',
                   data: { 
                        'id' : '<%= @patient.id %>',
                        'dose_no' : this.getAttribute('id'),
                        'value' : $(this).val() , 
                        'vaccine_id' : this.parentNode.parentNode.getAttribute('id')
	                },
                        success: function(data) {
                             if(data.success) {
                                $("#" + data.html_id).css('display', 'none') ;
                                $("#" + data.html_id.substr(5)).text(data.new_date).css('display', '') ;
				$(".notice").text("Next schedule date is: " + data.next_date);
                             }
			     else {
			       	 $(".notice").text("");
                                 $("#" + data.html_id).css('display', 'none') ;
			         if(data.new_date == ''){
				     $("#" + data.html_id.substr(5)).text('edit').css('display', '') ;
				 }
				 else {
				     $("#" + data.html_id.substr(5)).text(data.new_date).css('display', '') ;
				 }
                             }
                        }
	        });
	 }) ;

	 } );
      </script>
