<!DOCTYPE html>
<html>
   <head>
      <title>Mrms</title>
      <%= stylesheet_link_tag "jquery.dataTables" %>
      <%= stylesheet_link_tag "common" %>
      <%= stylesheet_link_tag params[:controller] %>

      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <%= link_to 'Home', '/' %>
      <%= render 'layouts/user_widget' %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

   </body>
</html>
