<!DOCTYPE html>
<html>
<head>
  <title>Mrms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "jquery.dataTables.css"%>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.11.0.min.js" %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "jquery.jeditable.mini.js" %>
  <%= javascript_include_tag "jquery.jeditable.datepicker.js" %>
  <%= javascript_include_tag "jquery.jeditable.timepicker.js" %>
  <%= javascript_include_tag "jquery.jeditable.masked.js" %>
  <%= javascript_include_tag "jquery.datePicker.js" %>
  <%= javascript_include_tag "jquery.timePicker.js" %>
  <%= javascript_include_tag "jquery.maskedinput.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
